.docker/
.dotnet/
.cache/
.gnupg/
.oh-my-zsh/
.vscode-server/
.sdkman/
.ssh/
.ksp/
.zcompdump*
.sudo_as_admin_successful
.zshrc.pre-oh-my-zsh
.shell.pre-oh-my-zsh
.gitconfig
.bashrc
.vimrc
.zshrc
.ideavimrc
.tmux.conf
.bash_history
.zsh_history
.wget-hsts
.p10k.zsh
.devcontainer/.on*
.devcontainer/.post*
.devcontainer/.update*
get-docker.sh
k9s_linux_amd64*
